{% extends 'base.html.twig' %}
{% block body %}

<form method="POST">
    <section class="account">
        <div class="progresses py-4">
            <ul class="d-flex align-items-center justify-content-between">
                <li class="d-flex align-items-center justify-content-between"><a
                        href="{{ url('app_account') }}">Tickets</a></li>
                <li class="d-flex align-items-center justify-content-between"><a href="{{ url('app_email') }}">Change
                        email</a></li>
                <li class="d-flex align-items-center justify-content-between"><a
                        href="{{ url('app_reset_password') }}">Reset password</a></li>
            </ul>
        </div>
        <div class="container">
            <div class="wrapper-card">
                {% if response is not null %}
                {% if response == true %}
                <div class="row">
                    <div class="alert alert-success" role="alert">
                        Your email has changed.
                    </div>
                </div>
                {% else %}
                <div class="row">
                    <div class="alert alert-danger" role="alert">
                        Retry again.
                    </div>
                </div>
                {% endif %}
                {% endif %}
                <div id="account" class="row">
                    <div class="form-group mb-3">
                        <label for="email" class="form-label">Change email</label>
                        <input type="email" name="email" class="form-control" id="InputEmail"
                            aria-describedby="emailHelp" placeholder="Email">
                    </div>
                    <div class="row">
                        <div class="d-md-flex align-items-center justify-content-md-center">
                            <button type="submit" name="submit" class="btn btn-dark-blue btn-lg">Change</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

{% endblock %}