{% extends 'base.html.twig' %}
{% block body %}

<form method="POST">
    <section class="account">
        <div class="container mt-5">
            {% if sendMail == false %}
            <div class="wrapper-card">
                {% if response is not null %}
                    {% if response == true %}
                    <div class="row">
                        <div class="alert alert-success" role="alert">
                            An email has been send.
                        </div>
                    </div>
                    {% else %}
                    <div class="row">
                        <div class="alert alert-danger" role="alert">
                            The email is invalide.
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
                <div id="account" class="row">
                    <div class="form-group mb-3">
                        <label for="email" class="form-label">Your email</label>
                        <input type="email" name="email" class="form-control" id="InputEmail"
                            aria-describedby="emailHelp" placeholder="Email">
                    </div>
                    <div class="row">
                        <div class="d-md-flex align-items-center justify-content-md-center">
                            <button type="submit" name="submit" class="btn btn-dark-blue btn-lg">Send</button>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="wrapper-card">
                {% if response is not null %}
                    {% if response == true %}
                    <div class="row">
                        <div class="alert alert-success" role="alert">
                            Your password has changed.
                        </div>
                    </div>
                    {% else %}
                    <div class="row">
                        <div class="alert alert-danger" role="alert">
                            Retry again.
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
                <div id="account" class="row">
                    <div class="form-group">
                        <label for="InputPassword" class="form-label">New password</label>
                        <input type="password" name="password" class="form-control" id="InputPassword"
                            aria-describedby="passwordHelp">
                    </div>
                    <div class="form-group mt-2">
                        <label for="InputPasswordVerified" class="form-label">Confirme password</label>
                        <input type="password" name="passwordVerified" class="form-control" id="InputPasswordVerified"
                            aria-describedby="passwordHelp">
                    </div>
                    <div class="row">
                        <div class="d-md-flex align-items-center justify-content-md-center">
                            <button type="submit" name="submit" class="btn btn-dark-blue btn-lg">Change</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </section>
</form>

{% endblock %}