{% extends 'base.html.twig' %}
{% block body %}

<form method="POST">
    <section class="account">
        <div class="progresses py-4">
            <ul class="d-flex align-items-center justify-content-between">
                <li class="d-flex align-items-center justify-content-between"><a href="{{ url('app_account') }}">Tickets</a></li>
                <li class="d-flex align-items-center justify-content-between"><a href="{{ url('app_account') }}">Change email</a></li>
                <li class="d-flex align-items-center justify-content-between"><a href="{{ url('app_reset_password') }}">Reset password</a></li>
            </ul>
        </div>
        <div class="container">
            <div class="wrapper-card">
                <div id="account" class="row">
                    <div class="form-group">
                        <label for="password" class="sr-only">Password</label>
                        <input type="password" name="password" class="form-control" id="InputPassword"
                            aria-describedby="passwordHelp">
                    </div>
                    <div class="row">
                        <div class="d-md-flex align-items-center justify-content-md-center">
                            <button type="submit" name="submit" class="btn btn-dark-blue btn-lg">Change</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

{% endblock %}