{% extends 'base.html.twig' %}
{% block body %}

<form method="POST" action="">
    <section class="container agreement">
        <header>
            <div class="col-12 text-center mb-5">
                <h1>PARENT / GUARDIAN WAIVER FOR MINORS (Under 18 years old)</h1>
                <h3>Trại Hè Thanh Niên Âu Châu 25.07.2019 - 28.07.2019</h3>
            </div>
        </header>
        <div class="row">
            <div class="col-12">
                <p>The undersigned parent and natural guardian does hereby represent that he/she is, in fact, acting in such
                    capacity, has consented to his/her child or ward’s participation in the activity or event, and has
                    agreed individually and on behalf of the child or ward, to the terms of the accident waiver and release
                    of liability set forth above. The undersigned parent or guardian further agrees to save and hold
                    harmless and indemnify each and all of the parties referred to above from all liability, loss, cost,
                    claim, or damage whatsoever which may be imposed upon said parties because of any defect in or lack of
                    such capacity to so act and release said parties on behalf of the minor and the parents or legal
                    guardian.</p>
            </div>
        </div>
        <div class="row mt-5">
            <label for="inputAgreements" class="form-label p-0">Agreements</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" onchange="document.getElementById('submit').disabled = !this.checked;">
                <label class="form-check-label" for="flexCheckDefault">
                    I CERTIFY THAT I HAVE READ THIS DOCUMENT, AND I FULLY UNDERSTAND ITS CONTENT. I AM AWARE THAT THIS
                    IS A RELEASE OF LIABILITY AND A CONTRACT AND I SIGN IT OF MY OWN FREE WILL.
                </label>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" name="register" id="submit" class="btn btn-primary btn-lg" disabled>Accept</button>
            </div>
        </div>
    </section>
</form>

{% endblock %}