<footer style="background-color: var(--sidebar-bg); padding: 14px 0">
    <div class="text-center">
    <p>
        © Copyright 2022 - 2024
        <a class="text-reset fw-bold" href="/">
        Đồng Hành Network
        </a>
        |
        <a href="https://viettan.org/" target="_blank">
        VIET TAN
        </a>
        | All Rights Reserved by Đồng Hành Network
    </p>
    </div>
</footer>