/*
 *  Theme
 *  License - Donh Hanh
*/

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./global.scss";
@import "./loader.scss";
@import "./scroll-indicator.scss";

.separator {
  background-color: var(--amber-color);
}

.bg-hero {
  background-image: url("../../public/images/h-ng-nguy-n-vi-t-5pYUt2gEZaA-unsplash.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.introduction .trong-dong {
  background-image: url("../../public/images/trong-dong.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

.about-us .wrapper-card {
  background-image: url("../../public/images/11807129_10205648593187495_7305343562553859964_o.png");
  background-size: cover;
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.bg-img-about-us {
  background-image: url("../../public/images/OLEXS91 [Converti].png");
  background-size: cover;
  background-position: left 30px;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .bg-img-about-us {
    background-size: 45%;
  }
}

.activities .wrapper-card {
  padding: 4em 2em;
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  height: 100%;
}

.adventure .wrapper-card {
  padding: 7em;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  background-image: url("../../public/images/1611012_10152967214700810_7849113355116230335_n.png");
  background-size: cover;
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.adventure .col-4 {
  background-image: url("../../public/images/OI9USZ1 [Converti].png");
  background-size: cover;
  background-position: center;
}

.our-journey .card {
  background-color: var(--cream-color);
  border-radius: 1em;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px 0px;
}

.our-journey .card span {
  margin: auto;
  color: var(--cream-color);
  font: 1.2em "Gelion-Regular" !important;
}

.our-journey .filter {
  background-color: var(--dark-blue-color);
  opacity: 0.75;
  height: 100%;
  width: 100%;
  border-radius: 1em;
  display: flex;
  align-items: center;
  text-align: center;
}

.our-journey .france {
  background-image: url("../../public/images/ilnur-kalimullin-CB0Qrf8ib4I-unsplash.jpg");
  background-size: cover;
  background-position-y: 20%;
}

.our-journey .germany {
  background-image: url("../../public/images/cityscape-frankfurt-downtown-germany.jpg");
  background-size: cover;
  background-position-y: 20%;
}

.our-journey .london {
  background-image: url("../../public/images/tower-bridge-london-uk.jpg");
  background-size: cover;
  background-position-y: 20%;
}

.our-journey .norway {
  background-image: url("../../public/images/john-o-nolan-6f_ANCcbj3o-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.our-journey .denmark {
  background-image: url("../../public/images/nick-karvounis-3_ZGrsirryY-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.our-journey .switzerland {
  background-image: url("../../public/images/tim-trad-BYPMtjYMEyk-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.our-journey .usa {
  background-image: url("../../public/images/usa.jpg");
  background-size: cover;
  background-position: center;
}

.our-journey .australia {
  background-image: url("../../public/images/australia.jpg");
  background-size: cover;
  background-position: center;
}

.our-journey .canada {
  background-image: url("../../public/images/canada.jpg");
  background-size: cover;
  background-position: center;
}

.bg-community {
  background-image: url("../../public/images/11816341_10205648605067792_4665754934258472800_o.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.team .wrapper-card {
  background-color: transparent !important;
  border-radius: 1em;
  max-width: 20em;
}

.team .name {
  font: 1.2em "Gelion-Regular" !important;
}

.frame {
  height: 10em;
  width: 10em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

.tri {
  background-image: url("../../public/images/tri.jpg");
  background-size: cover;
  background-position: center;
}

.lan {
  background-image: url("../../public/images/lan.jpg");
  background-size: cover;
  background-position: center;
}

.duyen {
  background-image: url("../../public/images/duyen.jpg");
  background-size: cover;
  background-position: center;
}

.contact span {
  font: 1em "Gelion-Light";
  letter-spacing: 0.2em;
  line-height: 1.8em;
}

/*		---- Buttons ---- 	*/

.btn {
  font: 0.8em "Gelion-Regular";
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 20em;
}

.paypal-button-container {
  margin: auto !important;
}

.img1-aboutUs {
  background-image: url("../../public/images/AdobeStock_291639531.jpeg");
  background-size: cover;
  background-position: center;
}

.img2-aboutUs {
  background-image: url("../../public/images/AdobeStock_539609743.jpeg");
  background-size: cover;
  background-position: center;
}

.img3-aboutUs {
  background-image: url("../../public/images/AdobeStock_307149337.jpeg");
  background-size: cover;
  background-position: center;
}

.bg-testimonial {
  background-image: url("../../public/images/AdobeStock_319963758.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-cream-filter {
  background: rgba(242, 236, 210, 0.7);
}

.bg-trong {
  background-image: url("../../public/images/trong-dong.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
