{% extends 'base.html.twig' %}
{% block body %}

<section>
    <h1>Hello, {{ currentuser }}</h1>
</section>

<form method="POST">
    <section>
        <div class="form-group">
            <label for="password" class="sr-only">Password</label>
            <input type="password" name="password" class="form-control" id="InputPassword"
                aria-describedby="passwordHelp">
        </div>
        <div class="row">
            <div class="d-md-flex align-items-center justify-content-md-center">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button type="submit" name="register" class="btn btn-dark-blue btn-lg">Register</button>
            </div>
        </div>
    </section>
</form>

{% endblock %}