{% extends 'base.html.twig' %}
{% block body %}

<form>
    <section class="container">
        <p>
            Forgot to add something to your cart? Shop around then come back to pay!
        </p>
    </section>
</form>

{% endblock %}