{% extends 'base.html.twig' %}
{% block body %}

<section>
    <div class="container">
        <div class="row text-center">
            <div class="col-12 mt-5 mb-5">
                <img src="images/vector-free-rice-field-background [Converti].png" width="350" alt="image-filler">
            </div>
            <div class="col-12">
                {% if response == 'contact' %}
                <p>
                    Oops ! Your message can't be send, please try again.
                    <a href="mailto:contact@dong-hanh.com">contact@dong-hanh.com</a>.
                </p>
                <p>Return to <a href="{{ path('app_main') }}">homepage</a>.</p>
                {% elseif response == 'register' %}
                <p>
                    Oops ! The register form is close. If you have any questions, please email
                    <a href="mailto:contact@dong-hanh.com">contact@dong-hanh.com</a>.
                </p>
                <p>Return to <a href="{{ path('app_main') }}">homepage</a>.</p>
                {% elseif response == 'forgottenPassword' %}
                <p>
                    Oops ! retry again. If you have any questions, please email
                    <a href="mailto:contact@dong-hanh.com">contact@dong-hanh.com</a>.
                </p>
                <p>Return to <a href="{{ path('app_forgotten_password') }}">reset password</a>.</p>
                {% else %}
                <p>
                    Oops ! Something wrong. If you have any questions, please email
                    <a href="mailto:contact@dong-hanh.com">contact@dong-hanh.com</a>.
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}