{% extends 'base.html.twig' %}
{% block body %}

<section class="">
    <div class="row">
        <div class="col-12">
            <h1 data-aos="fade-up" data-aos-offset="50" data-aos-easing="ease-in-sine">Discover Viet Nam through a unique experience</h1>
            <p data-aos="fade-up" data-aos-offset="50" data-aos-easing="ease-in-sine">Reconnect with your roots and learn about vietnamese culture, traditions, history, cuisine and much more through games and workshops.</p>
        </div>
        <div class="col-12">
            <h1 data-aos="fade-up" data-aos-offset="50" data-aos-easing="ease-in-sine">Create lifelong memories with friends from all over the world</h1>
            <p data-aos="fade-up" data-aos-offset="50" data-aos-easing="ease-in-sine">Like many of our previous attendees, meet and connect with people from different horizons and create long-lasting friendship.</p>
        </div>
        <div class="col-12">
            <h1 data-aos="fade-up" data-aos-offset="50" data-aos-easing="ease-in-sine">Dồng Hành</h1>
            <p data-aos="fade-up" data-aos-offset="50" data-aos-easing="ease-in-sine">A group of young Vietnamese
                across the world who want to create a space for young Vietnamese to
                gather, have fun, build strong friendships, develop skills, and learn about the rich heritage of
                Vietnamese culture and history.</p>
        </div>
    </div>
</section>

{% endblock %}