{% extends 'base.html.twig' %}
{% block body %}

<section class="introduction" id="introduction">
    <div class="container-fluid wrapper-element trong-dong">
        <div class="row">
            <div class="col-7">
                <span>Summer Camp</span>
                <h1>Dồng Hành Network</h1>
                <hr class="solid">
                <p>We organize Summer Camps, Digital Activism Workshops, Movement Building <br> Seminars and Networking Events.
                </p>
                <div class="d-flex flex-row">
                    <button type="button" class="btn btn-cognac me-2">Get your ticket</button>
                    <button type="button" class="btn btn-dark-blue ms-2">Learn more</button>
                </div>
            </div>
            <div class="col-5">
                <img class="img-fluid" src="images/68879387_2816229221726461_8066093627228553216_n.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<section class="about-us" id="about-us">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-8 wrapper-card text-center">
                <span>About us</span>
                <h1>Dồng Hành</h1>
                <hr class="solid divider-center">
                <p>A group of young Vietnamese across the world who want to create a space for young Vietnamese to gather, have fun, build strong friendships, develop skills, and learn about the rich heritage of Vietnamese culture and history.</p>
                <button type="button" class="btn btn-dark-blue">Learn more</button>
            </div>
        </div>
    </div>
</section>
<section class="join-us" id="join-us">
    <div class="container-fluid wrapper-element">
        <div class="row">
            <div class="col-12 text-center">
                <span>Activities</span>
                <h1>Why joining us</h1>
            </div>
        </div>
        <div class="d-flex justify-content-center container-card">
            <div class="row">
                <div class="col-4 col-sm-12 col-md-12 col-lg-4 mb-3">
                    <div class="wrapper-card text-center d-flex flex-column mx-auto align-bottom">
                        <img class="img-fluid" src="images/7490.png" alt="about_us_people_worldwide">
                        <p>Meet vietnamese people worldwide</p>
                    </div>
                </div>
                <div class="col-4 col-sm-12 col-md-12 col-lg-4 mb-3">
                    <div class="wrapper-card text-center d-flex flex-column mx-auto">
                        <img class="img-fluid" src="images/5236.png" alt="about_us_teambuilding">
                        <p>Learn about movement building and international advocacy</p>
                    </div>
                </div>
                <div class="col-4 col-sm-12 col-md-12 col-lg-4 mb-3">
                    <div class="wrapper-card text-center d-flex flex-column mx-auto">
                        <img class="img-fluid" src="images/vecteezy_two-boys-high-fived-each-other-the-concept-of-friendship_12763712.png" alt="about_us_friendship">
                        <p>Share bonds and friendship through international projects</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="our-journey" id="our-journey">
    <div class="container-fluid wrapper-element">
        <div class="row">
            <div class="col-12 text-center">
                <span>Our journey</span>
                <h1>We organize events in all these regions</h1>
                {#<hr class="solid divider-center">#}
                {#<p>Esse occaecat et Lorem cupidatat sit ullamco eu elit cillum veniam. Non sunt cupidatat pariatur enim pariatur non occaecat fugiat sint. Ex excepteur Lorem cupidatat qui occaecat esse commodo veniam laborum. Et voluptate ad aliquip irure nisi elit consequat ut adipisicing qui exercitation nisi dolore nisi. Ipsum eu labore duis enim ad Lorem quis quis sit est consectetur quis ad. Elit dolore proident sint eu laborum eu culpa id veniam veniam.</p>#}
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-3">
                <div class="d-flex flex-column">
                    <div class="card small-card">
                        <div class="filter">
                            <span>Denmark</span>
                        </div>
                    </div>
                    <div class="card small-card norway">
                        <div class="filter">
                            <span>Norway</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="d-flex flex-column">
                    <div class="card big-card france">
                        <div class="filter">
                            <span>France</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="d-flex flex-column">
                    <div class="d-flex flex-row">
                        <div class="card large-card switzerland">
                            <div class="filter">
                                <span>Switzerland</span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="card small-card">
                            <div class="filter">
                                <span>France</span>
                            </div>
                        </div>
                        <div class="card small-card denmark">
                            <div class="filter">
                                <span>Denmark</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="adventure" id="adventure">
    <div class="container-fluid">
        <div class="row">
            <div class="col-8 wrapper-card">
                <span>Adventure</span>
                <h1>Learn about Vietnam through unique experience, games and workshops</h1>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</section>
<section class="community">
    <div class="container-fluid wrapper-element">
        <div class="row">
            <div class="col-12 text-center">
                <span>Dồng Hành</span>
                <h1>Be part of our community</h1>
                {#<hr class="solid divider-center">
                <p>Through unique experience, games and workshops</p>#}
                <button type="button" class="btn btn-cognac">Join us</button>
            </div>
        </div>
    </div>
</section>
<section class="team" id="team">
    <div class="container-fluid wrapper-element">
        <div class="row">
            <div class="col-12 text-center">
                <span>Team members</span>
                <h1>Who we are</h1>
            </div>
        </div>
        <div class="container-card">
            <div class="row">
                <div class="d-flex justify-content-center col-4 col-md-4 col-sm-12">
                    <div class="wrapper-card text-center d-flex flex-column">
                        <span class="frame duyen"></span>
                        <span class="name">Duyen</span>
                        <span>Ambassador NA</span>
                    </div>
                </div>
                <div class="d-flex justify-content-center col-4 col-md-4 col-sm-12">
                    <div class="wrapper-card text-center d-flex flex-column">
                        <span class="frame tri"></span>
                        <span class="name">Tri</span>
                        <span>Ambassador EU</span>
                    </div>
                </div>
                <div class="d-flex justify-content-center col-4 col-md-4 col-sm-12">
                    <div class="wrapper-card text-center d-flex flex-column">
                        <span class="frame lan"></span>
                        <span class="name">Lan</span>
                        <span>Ambassador EU</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contact" id="contact" style="padding-bottom: 0 !important;">
    <div class="container-fluid wrapper-element">
        <div class="row">
            <div class="col-12">
                <span>Any questions ?</span>
                <h1>Contact</h1>
                <hr class="solid">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="wrapper-card text-center d-flex flex-row align-items-center">
                    <i class="fa-regular fa-envelope"></i>
                    <span>contact@dong-hanh.org</span>
                </div>
            </div>
            {#<div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="wrapper-card text-center d-flex flex-row align-items-center">
                    <i class="fa-solid fa-mobile-screen-button"></i>
                    <span>+33 10101010101</span>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="wrapper-card text-center d-flex flex-row align-items-center">
                    <i class="fa-brands fa-facebook-f"></i>
                <span>thanhnienauchau/facebook.com</span>
                </div>
            </div>#}
        </div>
        {# <div class="row justify-content-between">
            <div class="col-3">
                <div class="d-flex flex-row align-items-center">
                    <i class="fa-regular fa-envelope"></i>
                    <span>thanhnienauchau@gmail.com</span>
                </div>
            </div>
            <div class="col-3">
                <div class="d-flex flex-row align-items-center">
                    <i class="fa-solid fa-mobile-screen-button"></i>
                    <span>+33 10101010101</span>
                </div>
            </div>
            <div class="col-3">
                <div class="d-flex flex-row align-items-center">
                    <i class="fa-brands fa-facebook-f"></i>
                    <span>thanhnienauchau/facebook.com</span>
                </div>
            </div>
        </div> #}
    </div>
</section>

{% endblock %}