{% extends 'base.html.twig' %}
{% block body %}

	<div id="root"></div>
	{% if error is defined %}
    <script>
        window.errorFromSymfony = {{ error|json_encode|raw }};
    </script>
	{% endif %}

{% endblock %}
