{% extends 'base.html.twig' %}
{% block body %}

<form method="POST" action="">
    <section class="register-form">
        <div class="progresses py-4">
            <ul class="d-flex align-items-center justify-content-between">
                <li id="step-1" class="d-flex align-items-center justify-content-between"><i
                        class="fa-regular fa-circle"></i> <a href="{{ url('app_register') }}">Register</a></li>
                <li id="step-2" class="d-flex align-items-center justify-content-between"><i
                        class="fa-regular fa-circle"></i> <a href="{{ url('app_checkout') }}">Checkout</a></li>
                <li id="step-3" class="d-flex align-items-center justify-content-between"><i
                        class="fa-regular fa-circle"></i> <a href="{{ url('app_main') }}">Confirmation</a></li>
            </ul>
        </div>
        {# <header>
            <div class="col-12 text-center mb-5">
                <h1>Register form</h1>
            </div>
        </header> #}
        <div class="wrapper-card">
            <div class="row">
                <div class="col-6 g-3">
                    <label for="inputFirstname" class="form-label">Firstname</label>
                    <input type="text" name="firstname" class="form-control" id="inputFirstname">
                </div>
                <div class="col-6 g-3">
                    <label for="inputLastname" class="form-label">Lastname</label>
                    <input type="text" name="lastname" class="form-control" id="inputLastname">
                </div>
            </div>

            <div class="row">
                <div class="col-3 g-3">
                    <label for="inputEmail" class="form-label">E-mail</label>
                    <input type="email" name="email" class="form-control" id="inputEmail">
                </div>
                <div class="col-3 g-3">
                    <label for="inputPhone" class="form-label">Phone</label>
                    <input type="tel" name="phone" class="form-control" id="inputPhone"
                        pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
                </div>
                <div class="col g-3">
                    <label for="inputGender" class="form-label">Gender</label>
                    <select id="inputGender" class="form-select">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="nonBinary">Non binary</option>
                    </select>
                </div>
                <div class="col g-3">
                    <label for="formControlRange" class="form-label">Age</label>
                    <input type="number" class="form-control" id="formControlRange">
                </div>
            </div>

            <div class="row">
                <div class="col-6 g-3">
                    <label for="inputAddress" class="form-label">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
                <div class="col-3 g-3">
                    <label for="inputCity" class="form-label">City</label>
                    <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="col-3 g-3">
                    <label for="inputState" class="form-label">State</label>
                    <select id="inputState" class="form-select">
                        <option value="Afghanistan">Afghanistan</option>
                        <option value="Åland Islands">Åland Islands</option>
                        <option value="Albania">Albania</option>
                        <option value="Algeria">Algeria</option>
                        <option value="American Samoa">American Samoa</option>
                        <option value="Andorra">Andorra</option>
                        <option value="Angola">Angola</option>
                        <option value="Anguilla">Anguilla</option>
                        <option value="Antarctica">Antarctica</option>
                        <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                        <option value="Argentina">Argentina</option>
                        <option value="Armenia">Armenia</option>
                        <option value="Aruba">Aruba</option>
                        <option value="Australia">Australia</option>
                        <option value="Austria">Austria</option>
                        <option value="Azerbaijan">Azerbaijan</option>
                        <option value="Bahamas">Bahamas</option>
                        <option value="Bahrain">Bahrain</option>
                        <option value="Bangladesh">Bangladesh</option>
                        <option value="Barbados">Barbados</option>
                        <option value="Belarus">Belarus</option>
                        <option value="Belgium">Belgium</option>
                        <option value="Belize">Belize</option>
                        <option value="Benin">Benin</option>
                        <option value="Bermuda">Bermuda</option>
                        <option value="Bhutan">Bhutan</option>
                        <option value="Bolivia">Bolivia</option>
                        <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                        <option value="Botswana">Botswana</option>
                        <option value="Bouvet Island">Bouvet Island</option>
                        <option value="Brazil">Brazil</option>
                        <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                        <option value="Brunei Darussalam">Brunei Darussalam</option>
                        <option value="Bulgaria">Bulgaria</option>
                        <option value="Burkina Faso">Burkina Faso</option>
                        <option value="Burundi">Burundi</option>
                        <option value="Cambodia">Cambodia</option>
                        <option value="Cameroon">Cameroon</option>
                        <option value="Canada">Canada</option>
                        <option value="Cape Verde">Cape Verde</option>
                        <option value="Cayman Islands">Cayman Islands</option>
                        <option value="Central African Republic">Central African Republic</option>
                        <option value="Chad">Chad</option>
                        <option value="Chile">Chile</option>
                        <option value="China">China</option>
                        <option value="Christmas Island">Christmas Island</option>
                        <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                        <option value="Colombia">Colombia</option>
                        <option value="Comoros">Comoros</option>
                        <option value="Congo">Congo</option>
                        <option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The
                        </option>
                        <option value="Cook Islands">Cook Islands</option>
                        <option value="Costa Rica">Costa Rica</option>
                        <option value="Cote D'ivoire">Cote D'ivoire</option>
                        <option value="Croatia">Croatia</option>
                        <option value="Cuba">Cuba</option>
                        <option value="Cyprus">Cyprus</option>
                        <option value="Czech Republic">Czech Republic</option>
                        <option value="Denmark">Denmark</option>
                        <option value="Djibouti">Djibouti</option>
                        <option value="Dominica">Dominica</option>
                        <option value="Dominican Republic">Dominican Republic</option>
                        <option value="Ecuador">Ecuador</option>
                        <option value="Egypt">Egypt</option>
                        <option value="El Salvador">El Salvador</option>
                        <option value="Equatorial Guinea">Equatorial Guinea</option>
                        <option value="Eritrea">Eritrea</option>
                        <option value="Estonia">Estonia</option>
                        <option value="Ethiopia">Ethiopia</option>
                        <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
                        <option value="Faroe Islands">Faroe Islands</option>
                        <option value="Fiji">Fiji</option>
                        <option value="Finland">Finland</option>
                        <option value="France">France</option>
                        <option value="French Guiana">French Guiana</option>
                        <option value="French Polynesia">French Polynesia</option>
                        <option value="French Southern Territories">French Southern Territories</option>
                        <option value="Gabon">Gabon</option>
                        <option value="Gambia">Gambia</option>
                        <option value="Georgia">Georgia</option>
                        <option value="Germany">Germany</option>
                        <option value="Ghana">Ghana</option>
                        <option value="Gibraltar">Gibraltar</option>
                        <option value="Greece">Greece</option>
                        <option value="Greenland">Greenland</option>
                        <option value="Grenada">Grenada</option>
                        <option value="Guadeloupe">Guadeloupe</option>
                        <option value="Guam">Guam</option>
                        <option value="Guatemala">Guatemala</option>
                        <option value="Guernsey">Guernsey</option>
                        <option value="Guinea">Guinea</option>
                        <option value="Guinea-bissau">Guinea-bissau</option>
                        <option value="Guyana">Guyana</option>
                        <option value="Haiti">Haiti</option>
                        <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
                        <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
                        <option value="Honduras">Honduras</option>
                        <option value="Hong Kong">Hong Kong</option>
                        <option value="Hungary">Hungary</option>
                        <option value="Iceland">Iceland</option>
                        <option value="India">India</option>
                        <option value="Indonesia">Indonesia</option>
                        <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
                        <option value="Iraq">Iraq</option>
                        <option value="Ireland">Ireland</option>
                        <option value="Isle of Man">Isle of Man</option>
                        <option value="Israel">Israel</option>
                        <option value="Italy">Italy</option>
                        <option value="Jamaica">Jamaica</option>
                        <option value="Japan">Japan</option>
                        <option value="Jersey">Jersey</option>
                        <option value="Jordan">Jordan</option>
                        <option value="Kazakhstan">Kazakhstan</option>
                        <option value="Kenya">Kenya</option>
                        <option value="Kiribati">Kiribati</option>
                        <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of
                        </option>
                        <option value="Korea, Republic of">Korea, Republic of</option>
                        <option value="Kuwait">Kuwait</option>
                        <option value="Kyrgyzstan">Kyrgyzstan</option>
                        <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
                        <option value="Latvia">Latvia</option>
                        <option value="Lebanon">Lebanon</option>
                        <option value="Lesotho">Lesotho</option>
                        <option value="Liberia">Liberia</option>
                        <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
                        <option value="Liechtenstein">Liechtenstein</option>
                        <option value="Lithuania">Lithuania</option>
                        <option value="Luxembourg">Luxembourg</option>
                        <option value="Macao">Macao</option>
                        <option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav
                            Republic
                            of</option>
                        <option value="Madagascar">Madagascar</option>
                        <option value="Malawi">Malawi</option>
                        <option value="Malaysia">Malaysia</option>
                        <option value="Maldives">Maldives</option>
                        <option value="Mali">Mali</option>
                        <option value="Malta">Malta</option>
                        <option value="Marshall Islands">Marshall Islands</option>
                        <option value="Martinique">Martinique</option>
                        <option value="Mauritania">Mauritania</option>
                        <option value="Mauritius">Mauritius</option>
                        <option value="Mayotte">Mayotte</option>
                        <option value="Mexico">Mexico</option>
                        <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
                        <option value="Moldova, Republic of">Moldova, Republic of</option>
                        <option value="Monaco">Monaco</option>
                        <option value="Mongolia">Mongolia</option>
                        <option value="Montenegro">Montenegro</option>
                        <option value="Montserrat">Montserrat</option>
                        <option value="Morocco">Morocco</option>
                        <option value="Mozambique">Mozambique</option>
                        <option value="Myanmar">Myanmar</option>
                        <option value="Namibia">Namibia</option>
                        <option value="Nauru">Nauru</option>
                        <option value="Nepal">Nepal</option>
                        <option value="Netherlands">Netherlands</option>
                        <option value="Netherlands Antilles">Netherlands Antilles</option>
                        <option value="New Caledonia">New Caledonia</option>
                        <option value="New Zealand">New Zealand</option>
                        <option value="Nicaragua">Nicaragua</option>
                        <option value="Niger">Niger</option>
                        <option value="Nigeria">Nigeria</option>
                        <option value="Niue">Niue</option>
                        <option value="Norfolk Island">Norfolk Island</option>
                        <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                        <option value="Norway">Norway</option>
                        <option value="Oman">Oman</option>
                        <option value="Pakistan">Pakistan</option>
                        <option value="Palau">Palau</option>
                        <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
                        <option value="Panama">Panama</option>
                        <option value="Papua New Guinea">Papua New Guinea</option>
                        <option value="Paraguay">Paraguay</option>
                        <option value="Peru">Peru</option>
                        <option value="Philippines">Philippines</option>
                        <option value="Pitcairn">Pitcairn</option>
                        <option value="Poland">Poland</option>
                        <option value="Portugal">Portugal</option>
                        <option value="Puerto Rico">Puerto Rico</option>
                        <option value="Qatar">Qatar</option>
                        <option value="Reunion">Reunion</option>
                        <option value="Romania">Romania</option>
                        <option value="Russian Federation">Russian Federation</option>
                        <option value="Rwanda">Rwanda</option>
                        <option value="Saint Helena">Saint Helena</option>
                        <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                        <option value="Saint Lucia">Saint Lucia</option>
                        <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
                        <option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
                        <option value="Samoa">Samoa</option>
                        <option value="San Marino">San Marino</option>
                        <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                        <option value="Saudi Arabia">Saudi Arabia</option>
                        <option value="Senegal">Senegal</option>
                        <option value="Serbia">Serbia</option>
                        <option value="Seychelles">Seychelles</option>
                        <option value="Sierra Leone">Sierra Leone</option>
                        <option value="Singapore">Singapore</option>
                        <option value="Slovakia">Slovakia</option>
                        <option value="Slovenia">Slovenia</option>
                        <option value="Solomon Islands">Solomon Islands</option>
                        <option value="Somalia">Somalia</option>
                        <option value="South Africa">South Africa</option>
                        <option value="South Georgia and The South Sandwich Islands">South Georgia and The South
                            Sandwich
                            Islands</option>
                        <option value="Spain">Spain</option>
                        <option value="Sri Lanka">Sri Lanka</option>
                        <option value="Sudan">Sudan</option>
                        <option value="Suriname">Suriname</option>
                        <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
                        <option value="Swaziland">Swaziland</option>
                        <option value="Sweden">Sweden</option>
                        <option value="Switzerland">Switzerland</option>
                        <option value="Syrian Arab Republic">Syrian Arab Republic</option>
                        <option value="Taiwan">Taiwan</option>
                        <option value="Tajikistan">Tajikistan</option>
                        <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
                        <option value="Thailand">Thailand</option>
                        <option value="Timor-leste">Timor-leste</option>
                        <option value="Togo">Togo</option>
                        <option value="Tokelau">Tokelau</option>
                        <option value="Tonga">Tonga</option>
                        <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                        <option value="Tunisia">Tunisia</option>
                        <option value="Turkey">Turkey</option>
                        <option value="Turkmenistan">Turkmenistan</option>
                        <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
                        <option value="Tuvalu">Tuvalu</option>
                        <option value="Uganda">Uganda</option>
                        <option value="Ukraine">Ukraine</option>
                        <option value="United Arab Emirates">United Arab Emirates</option>
                        <option value="United Kingdom">United Kingdom</option>
                        <option value="United States">United States</option>
                        <option value="United States Minor Outlying Islands">United States Minor Outlying Islands
                        </option>
                        <option value="Uruguay">Uruguay</option>
                        <option value="Uzbekistan">Uzbekistan</option>
                        <option value="Vanuatu">Vanuatu</option>
                        <option value="Venezuela">Venezuela</option>
                        <option value="Viet Nam">Viet Nam</option>
                        <option value="Virgin Islands, British">Virgin Islands, British</option>
                        <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
                        <option value="Wallis and Futuna">Wallis and Futuna</option>
                        <option value="Western Sahara">Western Sahara</option>
                        <option value="Yemen">Yemen</option>
                        <option value="Zambia">Zambia</option>
                        <option value="Zimbabwe">Zimbabwe</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col g-3">
                    <label for="inputExpectation" class="form-label">What is your expectations from this summer camp
                        ?</label>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" rows="5"
                            style="height:100%;"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col g-3">
                    <label for="inputAware" class="form-label">How did you become aware of the summer camp ?</label>
                    <select id="inputAware" class="form-select">
                        <option value="">Facebook</option>
                        <option value="">Tiktok</option>
                        <option value="">Friend</option>
                        <option value="">Google search</option>
                        <option value="">Newsletter</option>
                        <option value="">THAC website</option>
                        <option value="">Other</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col g-3">
                    <label for="inputHealthcare" class="form-label">Do you have any specific diet/allergies ?</label>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" rows="1"
                            style="height:100%;"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col g-3">
                    <label for="inputAgreements" class="form-label">Terms and conditions</label>
                    <div class="form-check">
                        <input class="form-check-input check-aggreement" type="checkbox" value="" id="waiver">
                        <label class="form-check-label" for="flexCheckDefault">
                            I have read and agree to <a href="#" data-bs-toggle="modal"
                                data-bs-target="#modalAccident">the
                                accident waiver and release of liability</a>.
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input check-aggreement" type="checkbox" value="" id="guardian"
                            onchange="document.getElementById('register').disabled = !this.checked;">
                        <label class="form-check-label" for="flexCheckChecked">
                            I have read and agree to <a href="#" data-bs-toggle="modal"
                                data-bs-target="#modalGuardian">the
                                parent / guardian waiver for minors (Under 18 years old)</a>.
                        </label>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="submit" name="register" id="register" class="btn btn-primary btn-lg"
                        disabled="disabled">Register</button>
                </div>
            </div>
        </div>
    </section>
</form>

<!-- Modal -->
<div class="modal fade modal-lg" id="modalAccident" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">The accident waiver and release of liability</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>I HEREBY ASSUME ALL OF THE RISKS OF PARTICIPATING AND/OR VOLUNTEERING IN THIS ACTIVITY OR EVENT,
                    including by way of example and not limitation, any risks that may arise from negligence or
                    carelessness on the part of the persons or entities being released, from dangerous or defective
                    equipment or property owned, maintained, or controlled by them, or because of their possible
                    liability without fault.</p>
                <p>
                    I certify that I am physically fit, have sufficiently prepared or trained for participation in the
                    activity or event, and have not been advised to not participate by a qualified medical professional.
                    I certify that there are no health-related reasons or problems which preclude my participation in
                    this activity or event.
                    I acknowledge that this Accident Waiver and Release of Liability Form will be used by the event
                    holders, sponsors, and organizers of the activity or event in which I may participate, and that it
                    will govern my actions and responsibilities at said activity or event.</p>
                <p>In consideration of my application and permitting me to participate in this event, I hereby take
                    action for myself, my executors, administrators, heirs, next of kin, successors, and assigns as
                    follows:</p>
                <p>(A) I WAIVE, RELEASE, AND DISCHARGE from any and all liability, including but not limited to,
                    liability arising from the negligence or fault of the entities or persons released, for my death,
                    disability, personal injury, property damage, property theft, or actions of any kind which may
                    hereafter occur to me including my traveling to and from this event, THE FOLLOWING ENTITIES OR
                    PERSONS: Trại Hè Thanh Niên Âu Châu (THTNAC) and/or their directors, officers, employees,
                    volunteers, representatives, and agents, the activity or event holders, activity or event sponsors,
                    activity or event volunteers;</p>
                <p>(B) I INDEMNIFY, HOLD HARMLESS, AND PROMISE NOT TO SUE the entities or persons mentioned in this
                    paragraph from any and all liabilities or claims made as a result of participation in this activity
                    or event, whether caused by the negligence of release or otherwise.</p>
                <p>I acknowledge that the THTNAC and their directors, officers, volunteers, representatives, and agents
                    are NOT responsible for the errors, omissions, acts, or failures to act of any party or entity
                    conducting a specific event or activity on behalf of the THTNAC.</p>
                <p>I acknowledge that this activity or event may involve a test of a person’s physical and mental limits
                    and may carry with it the potential for death, serious injury, and property loss. The risks may
                    include, but are not limited to, those caused by terrain, facilities, temperature, weather,
                    condition of participants, equipment, vehicular traffic, actions of other people including, but not
                    limited to, participants, volunteers, spectators, coaches, event officials, and event monitors,
                    and/or producers of the event, and lack of hydration. These risks are not only inherent to
                    participants, but are also present for volunteers.</p>
                <p>I hereby consent to receive medical treatment which may be deemed advisable in the event of injury,
                    accident, and/or illness during this activity or event.</p>
                <p>I understand that at this event or related activities, I may be photographed. I agree to allow my
                    photo, video, or film likeness to be used for any legitimate purpose by the event holders,
                    producers, sponsors, organizers, and assigns.
                    The accident waiver and release of liability shall be construed broadly to provide a release and
                    waiver to the maximum extent permissible under applicable law.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-lg" id="modalGuardian" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">The parent / guardian waiver for minors</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>The undersigned parent and natural guardian does hereby represent that he/she is, in fact, acting in
                    such
                    capacity, has consented to his/her child or ward’s participation in the activity or event, and has
                    agreed individually and on behalf of the child or ward, to the terms of the accident waiver and
                    release
                    of liability set forth above. The undersigned parent or guardian further agrees to save and hold
                    harmless and indemnify each and all of the parties referred to above from all liability, loss, cost,
                    claim, or damage whatsoever which may be imposed upon said parties because of any defect in or lack
                    of
                    such capacity to so act and release said parties on behalf of the minor and the parents or legal
                    guardian.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}