{% extends 'base.html.twig' %}
{% block body %}

<section>
    <div class="container">
        <div class="row text-center">
            <div class="col-12 mt-5 mb-5">
                <img src="images/vector-free-rice-field-background [Converti].png" width="350" alt="image-filler">
            </div>
            <div class="col-12">
                {% if response == 'contact' %}
                <p>
                    We appreciate your message ! If you have any questions, please email
                    <a href="mailto:contact@dong-hanh.com">contact@dong-hanh.com</a>.
                </p>
                <p>Return to <a href="{{ path('app_main') }}">homepage</a>.</p>
                {% elseif response == 'checkout' %}
                <p>
                    Thank you ! See you soon. If you have any questions, please email
                    <a href="mailto:contact@dong-hanh.com">contact@dong-hanh.com</a>.
                </p>
                <p>Return to <a href="{{ path('app_main') }}">homepage</a>.</p>
                {% elseif response == 'refund' %}
                <p>
                    Your refund is complete. If you have any questions, please email
                    <a href="mailto:contact@dong-hanh.com">contact@dong-hanh.com</a>.
                </p>
                {% elseif response == 'signin' %}
                <p>
                    Your inscription is complete. You can log in with your account now ! If you have any questions, please email
                    <a href="mailto:contact@dong-hanh.com">contact@dong-hanh.com</a>.
                </p>
                {% elseif response == 'forgottenPassword' %}
                <p>
                    Your password has changed. You can log in with your account now ! If you have any questions, please email
                    <a href="mailto:contact@dong-hanh.com">contact@dong-hanh.com</a>.
                </p>
                <p>Return to <a href="{{ path('app_main') }}">homepage</a>.</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}