{% extends 'base.html.twig' %}
{% block body %}

<section>
    <div class="container">
        <div class="row text-center">
            <div class="col-12 mt-5 mb-5">
                <img src="images/vector-free-rice-field-background [Converti].png" width="350" alt="image-filler">
            </div>
            <div class="col-12">
                <p>
                    We appreciate your message ! If you have any questions, please email
                    <a href="mailto:contact@dong-hanh.com">contact@dong-hanh.com</a>.
                </p>
                <p>Return to <a href="{{ path('app_main') }}">homepage</a>.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}